*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;

}

header{
    background-color: black;
    color: antiquewhite;
    padding: 1rem;

}

header-tittle{
    text-align: center;
}

.header-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.header-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.header-form label{
    margin-bottom: 0.5rem;
}

.header-form input{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
}

.header-form button{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: palevioletred;
    font-weight: bold;
    cursor: pointer;
}

.result-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.result-table{
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
}

.result-table th{
    background-color: black;
    color: antiquewhite;
    padding: 0.5rem;
}

.result-table td{
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    color: black;
    padding: 0.5px;
    font-size: 13px;
}











